<!DOCTYPE html>
<html>
<head>
    <style>
        .header{
            position:fixed;
            background-color:lightblue;
            color:white;
            left:0;
            top: 0;
            width:100%;
            text-align: center;
        }
    </style>
</head>
<body>
  
    <div class="header">
        <h3>Bible Benchmark App</h3>
    </div>
</body>
</html>
