
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        <hr />
        <h2>Verse Added Successfully!</h2>
        @using (Html.BeginForm("onNavigation", "Home", FormMethod.Post))
        {
            <button type="submit" name="navBtn" value="0">Home</button>
            <button type="submit" name="navBtn" value="1">Input Verse</button>
            <button type="submit" name="navBtn" value="2">Search Verse</button>
        }
    </div>
</body>
</html>
